.bounce{
    width: 100px;
    height: 100px;
    background-color: gray;
    border-radius: 100%;
    position: relative;
    top: 100px;
    animation-duration: 5s;
    animation-name: loading;
}

@keyframes loading{
    0%{
        transform: translateY(-200px);
    }
    25%{
        transform: translateY(200px);
    }
    50%{
        transform: translateY(-100px);
    }
    75%{
        transform: translateY(100%);
    }
}