*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    background-image: url(images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(225, 100%, 94%);
    align-items: center;
    justify-content: center;
}

.parent{
    background-color: white;
    width: 28%;
    height: 600px;
    margin-top: 100px;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.main{
    width: 100%;
    height: 37%;
    position: relative;
    bottom: 41px;
}

.title{
    position: relative;
    bottom: 41px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: hsl(223, 47%, 23%);
}
.info{
    position: relative;
    bottom: 50px;
    color: hsl(224, 23%, 55%);
}

.music{
    width: 80%;
    height: 10%;
    border-radius: 15px;
    position: relative;
    bottom: 50px;
    background-color: hsl(225, 100%, 98%);
    display: flex;
    align-items: center;
}

.box{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 5%;
}

.money{
    color: hsl(224, 23%, 55%);
}

a{
    position: relative;
    left: 40%;
    color: hsl(245, 75%, 52%);
    transition: 0.5s;
    cursor: pointer;
}

a:hover{
    color: blueviolet;
    text-decoration: none;
    transform: scale(1.1);
}

.a{
    border: none;
    position: relative;
    bottom: 30px;
    background-color: hsl(245, 75%, 52%);
    color: white;
    width: 70%;
    height: 8%;
    border-radius: 15px;
    box-shadow: 0 12px 5px hsl(197, 5%, 75%, 0.612);
    transition: 0.5s;
    cursor: pointer;
}

.a:hover{
    background-color: blueviolet;
    transform: scale(1.1);
    box-shadow:0 12px 5px rgb(228, 212, 244);
}

.b{
    background-color: white;
    color: hsl(224, 23%, 55%);
    border: none;
    position: relative;
    bottom: 30px;
    transition: 0.5s;
    cursor: pointer;
}

.b:hover{
    color: black;
    transform: scale(1.1);
}