div{
    background-color: red;
    width: 150px;
    height: 150px;
    transition: all 1s linear;
    transform-origin: bottom right;
}
div :hover {
    background-color: blue;
    transform: skew(50px) translate(50px, 50px) scale(2) rotate(50deg);
}