body{
    background: hsl(212, 45%, 89%);
    height:700px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cont{
    background-color: white;
    width:280px; height:60%; display: flex;align-items: center;
    flex-direction: column; justify-content: center; border-radius: 15px;
}
img{border-radius: 15px; margin-top: 40px;}
h3{font-size: larger; color: hsl(218, 44%, 22%);}
p{font-size: smaller; color: hsl(216, 15%, 48%);}
