*{
    margin: 0; 
    padding: 0;
}

body{
    display: flex;
    background-color: hsl(0, 0%, 8%);
    justify-content: center;
    align-items: center;
    height: 600px;
}
.container{
    width: 350px;
    height: 550px;
    background-color: hsl(0, 0%, 20%);
    display: flex;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.butt{
    height: 50%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    margin: 5px;
}

img{
    width: 70px;
    height: 70px;
    border-radius: 100px;
    margin: 10px
}
h1{
    color: white;
    margin: 5px
}
p{
    color: hsl(75, 94%, 57%);
    font-size: 17px;
    margin: 3px;
}
h5{
    color: white;
    font-size: 13px;
}

button{
    width:80%;
    height:15%;
    background-color: hsl(0, 0%, 12%);
    border: none;
    color: white;
    border-radius: 15px;
    cursor: pointer;
}
button:hover{
    background: hsl(75, 94%, 57%);
    color: black;
}