body{
    display: flex;
    background-color: blue;
    align-items: center;
    justify-content: center;
}

.eyes{
    background-color: white;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 20px;
}

.pupils{
    width: 30%;
    height: 30%;
    background-color: blue;
    border-radius: 50%;
    margin: 12%;
    animation: move 5s ease-in-out infinite;
    transform: translateY(140%);
}

@keyframes move{
    30%{
        transform: translate(140%, -10%);
    }
    60%{
        transform: translate(140%, 140%);
    }
}