.main{
    background-color: aqua;gap: 20px; flex-direction: column; display: flex; justify-content: center; 
    width: 100%; height: 400px;align-items: flex-start; align-items: center; align-self: center;
}

.div{
    background-color: red; width: 100px; height: 100px;
}