body{
    background:hsl(30, 54%, 90%);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1200px;
}
.cont{
    background:white;
    width:70%;
    border-radius: 15px;
}
img{
    width:80%; position: relative; left:10%; border-radius: 15px;
}
.purple{
    background-color: hsl(333, 59%, 88%);
    width:80%; position: relative; left:10%
}
.n{
    color: hsl(332, 51%, 32%); position: relative; left: 6%;
}
.c{
    color:hsl(14, 45%, 36%); position:relative; left:6%
}
.no2{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    position: relative; right:2%
}
.f{
    color:hsl(14, 45%, 36%); position:relative; left:6%
}
.h{color:hsl(14, 45%, 36%); position:relative; left:6%}

.b,.a,.milf,.dilf{position:relative; left:6%}
p{display: inline;}
.nig{margin-right: 50%;}
